<!--包含头部文件-->
{include file="public/header" /}
{load href="__STATIC__/admin/layui/css/layui.css" /}
<div class="cl pd-5 bg-1 bk-gray mt-20"> 添加商品信息</div>
<article class="page-container">
    <form class="form form-horizontal" id="app">
        基本信息：
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>车型名称：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder="" id="" name="name">
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-9 col-sm-2">支持门店：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="check-box">
                    {volist name='bislocation' id='vo'}
                    <input name="location_ids[]" type="checkbox" id="checkbox" value="{$vo.id}"/>{$vo.name}
                    {/volist}
                </div>
            </div>
        </div>
        内容添加：
        <div class="row cl">
            <div class="row cl">
                <div class="text-c">
                    <div class=" ">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属车型：</label>
                        <div class="formControls col-xs-8 col-sm-2">
                            <div class="select-box">
                                <select name="car_id" class="select" v-model="bindex" @change="handecurrent">
                                    <option v-for="(items,index) in carbrand" :value="index">{{items.brand}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产地：</label>
                        <div class="formControls col-xs-8 col-sm-2">
                            <div class="select-box">
                                <select name="car_id" class="select" v-model="mid" @change="chooseMedicine">
                                    <option value="0">一级分类</option>
                                    <option :value="items.id" v-for="(items,index) in manufactor">{{items.manufactor}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>型号：</label>
                        <div class="formControls col-xs-8 col-sm-2">
                            <div class="select-box">
                                <select name="car_id" class="select" v-model="c_id" @change="handelmodel">
                                    <option value="0">一级分类</option>
                                    <option :value="models.id" v-for="models in carmodels">{{models.model}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>年份：</label>
                        <div class="formControls col-xs-8 col-sm-2">
                            <div class="select-box">
                                <select v-model="car_id" class="select" @change="handelyear">
                                    <option value="0">一级分类</option>
                                    <option :value="models.id" v-for="models in carinfo">
                                        {{models.year}}-{{models.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <a @click="handeladd">添加服务</a>


                <div class="row cl" v-for="(items,index) in categorytow">

                    <div class=" row cl">
                        <label class="form-label  col-xs-4 col-sm-2">
                            <span class="c-red">*</span>保养项目：</label>
                        <div class="formControls col-xs-3 col-sm-2">
                            <div class="select-box">
                                <select v-model="items.category_id" @change="handelcategory(items,index)"
                                        class="select">
                                    <option value="0">一级分类</option>
                                    {volist name='server' id='vo'}
                                    <option value="{$vo.id}">{$vo.name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div v-for="(tow,intow) in items.data">
                        <div class="row cl">
                            <label class="form-label col-xs-9 col-sm-2">子级服务：</label>
                            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                                <div class="check-box">
                                    <input name="category_tow[]" @change="changeAllChecked(index,intow)"
                                           v-model="tow.checked" type="checkbox" id="categorytow" :value="tow.id"/>
                                    {{tow.name}}
                                </div>
                            </div>
                            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                                <div class="check-box" v-for="(three,inthree) in tow.items">
                                    <input name="category_three[]"
                                           @change="changeAllthree(index,intow,inthree,three.id)" type="checkbox"
                                           id="categorythree"
                                           :value="three.id"/>{{three.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{checkedNames}}

                </div>
    </form>
</article>
<script>
    /**定义页面全局变量**/
    var SCOPE = {
        "city_url": "{:url('api/city/getCitysByParentId')}",
        "category_url": "{:url('api/category/getcategorysByparentId')}",
        "uploadify_swf": "__STATIC__/admin/uploadify/uploadify.swf",
        "image_upload": "{:url('api/image/upload')}",
    };

</script>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>

{load href="__STATIC__/admin/layui/layui.js" /}
{load href="__STATIC__/admin/js/image.js" /}

<script>
    var SCOPE = {
        'city_url': "{:url('api/city/getCitysByparentId')}",
        'category_url': "{:url('api/category/getcategorysByparentId')}",
        // 'uploadify_swf'	: '__STATIC__/admin/uploadify/uploadify.swf',
        'image_uploadify': "{:url('api/image/upload')}",
        // 'uploadlayui_url'	: "{:url('api/image/upload')}"
    }
</script>


<script src="__INDEX__/vant/vue.min.js"></script>
<script src="__INDEX__/vant/axios.min.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            checked: true,
            checkedNames: [],
            car_id: undefined,
            category_id: undefined,
            categorytow: [],
            c_id: undefined,
            mid: undefined,
            couponSelected: undefined,
            bindex: 1,
            show: false,
            activeNames: ['1'],
            manufactorin: 0,
            current: 0,
            carbrand: [],//品牌
            manufactor: [],
            carmodels: [],
            carinfo: [],
            rolesMenuList: [],
            menusId: [],
            checkAll: false,
            selected: [],
        },
        created() {
            this.GetBrandByList();

        },
        methods: {
            changeAllChecked(index, tow) {
                console.log(this.selected)

                // this.categorytow[index].checkedNames = this.categorytow[index].data[tow]
            },
            changeAllthree(index, intow, inthree, id) {

                if (this.selected.length == 0) {
                    this.selected.push(
                        {
                            car_id: this.categorytow[index].data[intow].car_id,
                            maintenance: [{
                                category_id: this.categorytow[index].data[intow].category_id,//保养服务id
                                tow: [
                                    {
                                        tow_id: this.categorytow[index].data[intow].id, //子级服务id
                                        tow_name: this.categorytow[index].data[intow].name, //子级服务id
                                        three: [
                                            {
                                                three_id: this.categorytow[index].data[intow].items[inthree].id, //子级服务id

                                            }
                                        ]
                                    }
                                ]
                            }
                            ]
                        }
                    )
                    return false;
                }


                var ai = 0, ak = 0;
                for (var i = 0; i < this.selected.length; i++) {
                    for (var k = 0; k < this.selected[i].maintenance.length; k++) {
                        if (this.categorytow[index].data[intow].category_id == this.selected[i].maintenance[k].category_id) {
                            for (var j = 0; j < this.selected[i].maintenance[k].tow.length; j++) {
                                // if (this.selected[i].maintenance[k].tow[j].tow_id == this.categorytow[index].data[intow].id) {
                                // for (var x = 0; x < this.selected[i].maintenance[k].tow[j].three.length; x++) {
                                //     if (this.selected[i].maintenance[k].tow[j].three[x].three_id == this.categorytow[index].data[intow].items[inthree].id) {
                                //     } else {
                                //         this.selected[i].maintenance[k].tow[j].three.push(
                                //             {
                                //                 three_id: this.categorytow[index].data[intow].items[inthree].id, //子级服务id
                                //             }
                                //         )
                                //         return false
                                //     }
                                // }
                                //     } else {
                                //         if(this.selected[i].maintenance[k].tow[j].tow_id==this.categorytow[index].data[intow].id){
                                //             console.log('已经存有')
                                //         }else{
                                //             console.log(this.selected[i].maintenance[k].tow[j].tow_id)
                                //             // console.log(this.categorytow[index].data[intow].id)
                                //             //添加保养子级项目
                                //             this.selected[i].maintenance[k].tow.push(
                                //                 {
                                //                     tow_id: this.categorytow[index].data[intow].id, //子级服务id
                                //                     tow_name: this.categorytow[index].data[intow].name, //子级服务id
                                //                     three: [
                                //                         {
                                //                             three_id: this.categorytow[index].data[intow].items[inthree].id, //子级服务id
                                //                         }
                                //                     ]
                                //                 }
                                //             )
                                //             // return false;
                                //         }
                                //
                                //
                                // }
                            }
                        }
                        else { //如果该保养项目不存在那么就添加保养项目列表c
                            this.selected[i].maintenance.push(
                                {
                                    category_id: this.categorytow[index].data[intow].category_id,//保养服务id
                                    category_name: this.categorytow[index].data[intow].name,//保养服务id
                                    tow: [
                                        {
                                            tow_id: this.categorytow[index].data[intow].id, //子级服务id
                                            tow_name: this.categorytow[index].data[intow].name, //子级服务id
                                            three: [
                                                {
                                                    three_id: this.categorytow[index].data[intow].items[inthree].id, //子级服务id
                                                }
                                            ]
                                        }
                                    ]
                                }
                            )
                            return false;
                        }
                    }
                }


                // if(this.selected.length==0){
                //     this.selected.push(cope)
                //     // Vue.set( this.categorytow[index],'checked',true)
                //     return false;
                // }
                // for(var i=0;i<this.selected.length;i++){
                //     if(this.selected[i].tow_id==this.categorytow[index].data[intow].id){
                //         console.log('已经存在不用添加，应该去除');
                //         // Vue.set( this.categorytow[index],'checked',true)
                //     }else{
                //         this.selected.push(cope)
                //     }
                // }

                // if (this.categorytow[index].data[intow].checked) {
                //     Vue.set(this.categorytow[index].data[intow], 'checked', false)
                // } else {
                //     Vue.set(this.categorytow[index].data[intow], 'checked', true)
                // }
            },

            handeladd() {
                let cope = {
                    category_id: "",
                    data: {},

                };
                this.categorytow.push(cope);
            },
            //
            GetBrandByList() {
                axios.get('/index/maintenance/choosedata').then(res => {
                    this.carbrand = res.data;
                    this.Manufactor = this.carbrand[this.current].course

                })
            },

            //获取保养信息
            handelcategory(row, index) {
                axios.get('/bis/deal/getCategoryByData', {
                    params: {
                        car_id: this.car_id,
                        category_id: this.categorytow[index].category_id,
                    }
                }).then(res => {
                    this.categorytow[index].data = res.data
                    console.log(this.categorytow)
                })
            },

            handelyear() {

            },


            handemanu(index, mid) {
                if (this.manufactorin == index) {
                    this.manufactorin = -1;
                } else {
                    this.manufactorin = index
                    axios.get('/index/maintenance/carmodels', {
                        params: {
                            id: mid
                        }
                    }).then(res => {
                        this.carmodels = res.data
                    })
                }
            },
            chooseMedicine(v) {
                axios.get('/index/maintenance/carmodels', {
                    params: {
                        id: this.mid
                    }
                }).then(res => {
                    console.log(res)
                    this.carmodels = res.data
                })
            },
            handecurrent() {
                console.log(this.bindex);
                this.manufactorin = null
                this.current = this.bindex
                this.manufactor = this.carbrand[this.bindex].course
            },
            handelmodel() {
                axios.get('/index/maintenance/carinfo', {params: {id: this.c_id}}).then(res => {
                    this.carinfo = res.data
                    this.show = true
                    console.log(res)
                })
            },
            handeinfo(id) {
                setCookie('carinfo', id)
                this.show = false
            }
        }
    })
</script>
</body>
</html>