<div class="us-nav">
    <a href="/main.htm#/model/servicer/list.htm" class="us-nav-item ">
        <figure class="mt_3">
            <i class="iconfont icon-dianpu font-s22"></i>
        </figure>
        <span>门店导航</span>
    </a>
    <a href="http://p.qiao.baidu.com/cps/mobileChat?siteId=9908599&userId=22334706&type=1&reqParam=&appId=&referer=&lightapp=2"
       class="us-nav-item ">
        <figure class="mt_3">
            <i class="iconfont icon-zaixiankefuzhuanhuan font-s22"></i>
        </figure>
        <span>在线客服</span>
    </a>

    <a href="/main.htm#/model/evaluation_list.htm" class="us-nav-item ">
        <figure class="mt_3">
            <i class="iconfont icon-pingjia font-s22"></i>
        </figure>
        <span>服务评价</span>
        <!--http://static.chezizhu.com/m/gywm.html?v=1.2.25.51-->
    </a>
    <a href="{:url('index/user/index')}" class="us-nav-item ">
        <figure class="mt_3">
            <i class="iconfont icon-30 font-s22"></i>
        </figure>
        <span>个人中心1</span>
    </a>

</div>